@media screen and (max-width: 700px){

    
    .internal-link{
        display: flex;
        /* flex-direction: row; */
        /* flex-flow: wrap; */
        /* align-items: stretch; */
        /* width: 100%; */
        
    }
    
    .btn-lnk{
        display: flex;
        flex-grow: 1;
    }
    .project-box, .skill-box{
        text-align: center;
        font-size: 1.2rem;
    }
    .minus-plus{
        width: auto;
        cursor: pointer;
        border-radius: 50%;
    }
    .hide{
        display: none;
    }
    .divider{
        height: auto; 
        width: 100%;
    }
    .modal-content{
        font-size: 1.3rem;
        text-align: center;
    }
    img.project-img{
        width: 70%;
        height: auto;
    }
    img.deco{
        height: 60px;
        width: 60px;
        padding: 0px 0px;
    }
    img.portrait-r{
        border-radius: 50%;
    }
    
    img.icon{
        height: auto;
        width:  30px; 
        border-radius: 50%;
    
    }
    form{
        background-color: #4f5f76;
        color: white;
        /* width: 400px; */
    }
    label.needed::after{
        content: '* required';
        color: white;
        
    }
    input.needed, textarea.needed{
        background-color: red;
    }
   
    #skills p{
        font-size: 1.25rem;
    }

    #side-bar{
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
    }

    #about-me{
        text-align: left;
        background-color: #4f5f76;
        /* padding-left:   20px; */
        padding-right:   0px;
        /* padding-bottom: 40px; */
        /* margin-bottom:  40px; */
        margin-right:    0px;
        width: 100%;
    }
    #projects, #skills{
        padding-bottom: 20px; 
        margin-bottom: 20px;
    }
  
    
    
}