.form{
    background-color: #4f5f76;
    color: #DADADA;
    width: 400px;
}

label.needed::after{
    content: '* required';
    color: #DADADA;
    
}
input.needed, textarea.needed{
    background-color: red;
}