
.skill-box{
    text-align: center;
    font-size: 1.4rem;
   
}

#skills{
    background-image: url("../images/background/mike-yukhtenko-hvbIl1XfMlM-unsplash.jpg");
    background-size: cover;
    background-position: 0% 50%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    // width: 100%;
}

#skills p{
    font-size: 1.25rem;
    color: #DADADA;
}

